@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} */

html {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    
}

.landing-page {
  display: block;
  margin: 0px auto;
  border: 2px solid ;
}

.home {
    display: block;
    font-size: larger;
    font-weight: bold;
    background-color: rgb(200, 200, 200);
    margin: auto;
}

#title {
    text-align: center;
    margin-bottom: 50px;
}

img {
  display: block;
  margin: 0px auto;
  margin-bottom: 100px;
}

.main-description {
  display: block;
  text-align: center;
  background-color: rgb(230, 248, 230);
  border: 2px solid rgb(32, 67, 32);
  margin: 10px;
  padding: 10px;
}

.content {
  display: block;
  text-align: left;
  background-color: rgb(230, 248, 230);
  border: 2px solid rgb(32, 67, 32);
  margin: 10px;
  padding: 10px;
  padding-left: 20px;
}

