@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} */

html {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    
}

.home {
    display: block;
    font-size: larger;
    font-weight: bold;
    background-color: rgb(200, 200, 200);
    margin: auto;
}

#title {
    text-align: center;
    margin-bottom: 50px;
}

/* .side {
  height: 500px;
  margin: 50px auto;
} */

img {
  display: block;
  margin: 0px auto;
  margin-bottom: 100px;
}


.main-description {
  display: block;
  text-align: center;
  /* align-content: center; */
  background-color: rgb(144, 247, 144);
  /* width: 500px;
  height: 500px; */
  border: 2px solid rgb(32, 67, 32);
  margin: 10px;
  padding: 10px;
}

.ingredients {
  display: block;
  text-align: left;
  /* align-content: center; */
  background-color: rgb(144, 247, 144);
  /* width: 500px;
  height: 500px; */
  border: 2px solid rgb(32, 67, 32);
  margin: 10px;
  padding: 10px;
}

.instructions {
  display: block;
  text-align: left;
  /* align-content: center; */
  background-color: rgb(144, 247, 144);
  /* width: 500px;
  height: 500px; */
  border: 2px solid rgb(32, 67, 32);
  margin: 10px;
  padding: 10px;
}

